
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex: 1;
}

.container {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

button{
    padding: 100px;
}

#buttonRock{
    height: 20px;
}